# Atlas is used for this project
MONGODB_URI="<YOUR_MONGODB_URI>"

# Specify mutilple origins separated by commas(,)
CORS_ORIGINS="http://localhost:5173"

# Note: Store secure tokens
ACCESS_TOKEN_SECRET="access-token"
REFRESH_TOKEN_SECRET="refresh-token"